@import url("https://use.typekit.net/msi0oop.css");
@import url("./Reset.css");
@import url("./Home.css");
@import url("./Header.css");
@import url("./Container.css");
@import url("./Projects.css");
@import url("./Music.css");

* {
  font-family: byker, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  background-color: var(--bg-2-color);
  color: var(--font-color);
}

.App {
  display: flex;
  flex-direction: column;
}

:root {
  --bg-2-color: #1f3b42;
  --background-color: #2A5159;
  --font-color: #aaf7ff;
  --header-color: #333333;
  --main-color: #367373;
  --second-color: #50B4BF;
  --third-color: #B4D9D5;
  --fourth-color:#eff8c4;
  --highlight-color: #B4D9D5;
  --highlight-a-color: rgba(180, 217, 214, 0.45);
}