.container{
    display: inline-flex;
    flex-direction: column;
    gap: 0.6em;
    /* justify-content: center; */
    margin: 1em 0.5em;
    padding: 1em;
    border-radius: 1.4em;
    box-shadow: 0 0 4px var(--third-color);
    position: relative;
    opacity: 1;
    color: var(--third-color);
}

.container * {
    border-radius: 1.4em;
    z-index: 2;
}

.container .feature {
    /* width: 100%; */
}
 

.container::after {
    background-color: var(--background-color);
    content: "";
    background-size: contain;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;
    border-radius: 1.4em;
    opacity: 0.4;
}