.home {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 2em auto;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 0 4px var(--third-color);
    position: relative;
    opacity: 1;
    color: var(--third-color);
}

.home::after {
    background-color:   var(--background-color);
    content: "";
    background-size: contain;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;
    border-radius: 2em;
    opacity: 0.4;
}

.home > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    z-index: 2;
}

.home > div:nth-of-type(1) {
    /* border: 1px solid mediumorchid; */
    flex: 1 1 36%;
}

.home .greeting {
    font-weight: 200;
    font-size: 2.1em;
    text-align: center;
}
.home img {
    border-radius: 50%;
    border-bottom: 1px solid var(--highlight-color);
    box-shadow: 0 .25em 0.2em var(--background-color);
    transition: all linear 0.2s;
  
}

.profile_pic {
    width: 100%;
    animation: animate_pic 1.2s linear 0.1s 1;
}

@media (max-width: 700px) {
    div.home {
        flex-direction: column;
        margin: 0.8em auto;
        gap: 0.8em;
        padding: 0.5em;
    }
    .profile_pic {
        width: 50%;
        animation: animate_pic_r 1.2s linear 0.1s 1;
    }

    div.greeting {
        font-size: 1.3em;
    }
    div.social {
        padding: 2em 0;
        margin: 0 auto;
    }
    div.social div  {
        padding: 0.4em;
    }

    div.skills_icons {
        font-size: 1.1em;
    }

    div.skill_name {
        font-size: 1.3em;
    }

}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .home .greeting {
        font-weight: 200;
        font-size: 1.8em;
        text-align: center;
    }

    div.skills {
        margin-top: 1.5em;
        font-size: 1.3em;
    }
}

@keyframes animate_pic {
    from {
        opacity: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        box-shadow: 0 .25em 0.2em rgba(0, 0, 0, 0);
    } 
   
    to {
        opacity: 1;
        border-bottom: 1px solid var(--highlight-color);
        box-shadow: 0 .25em 0.2em var(--background-color);
    }
}

@keyframes animate_pic_r {
    from {
        opacity: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        box-shadow: 0 .25em 0.2em rgba(0, 0, 0, 0);
    } 

    to {
        opacity: 1;
        border-bottom: 1px solid var(--highlight-color);
        box-shadow: 0 .25em 0.2em var(--background-color);

    }
}

.social {
    flex: 0 1 auto;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.social div {
    padding: 1em;
    flex: 1 1 50%;
}

.social_icons {
    font-size: 2em;
    display: flex;
    gap: 1em;
    transition: all .35s ease-in;
}

.social_icons > * {
    transition: all .2s ease-in;
}

.social_icons > *:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

.skills {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}
.skills_icons {
    margin-top: 1em;
    font-size: 2em;
    display: flex;
    gap: 0.6em;
}

.hr_gradient {
    border: 0;
    outline: 0;
    height: 2px;
    margin: 0 5%;
    margin-top: 1.5em;
    background-image: linear-gradient(0.25turn,var(--bg-2-color), var(--third-color), var(--bg-2-color));
}

.skill_icon {
    opacity: 1;
    transition: 0.2s linear all;
}

.icon_hidden, .hidden  {
    opacity: 0;
}

.visible {
    opacity: 1;
}
.skill_name {
    /* opacity: 1; */
    height: 100%;
    padding: 1.4em 0;
    transition: opacity 0.25s ease-in;
    font-size: 1.4em;
}